{#<style>#}
{#h3,h4 {#}
{#    font-family: 'Bungee Shade', cursive;#}
{#    color: #000000;#}
{#    font-size: 175%;#}
{#}#}
{#p {#}
{#    font-family: 'Arima Madurai', cursive;#}
{#    font-size: 150%;#}
{#}#}
{#</style>#}
<div id="about" style="color: #777777; background-color: #ffffff; text-align: center;
padding: 50px 80px; height: 650px">

    <h3 style="text-align: center">About us</h3>
    <br>
    <h4>What do we do?</h4>
    <p>Before the Flood is a motivational website which can help individuals achieve their personal goals and tasks.
        It's a tool to increase users’ efficiency and productivity. It's a place where people can collaborate, share ideas, encourage and ask questions</p>
    <br>
    <h4>What do we have?</h4>
    <p>Our site consists of these main features:</p>
    <p>
        Forum where users can share and post their ideas and questions<br>
        Motivational dashboard with customisable profile and background<br>
        Chat room for users to communicate individually or as a group<br>
        To-do list so users can see their upcoming goals and tasks<br>
        Calender to keep track of all goals and tasks<br>
        Motivational tree which grows dynamically whenever users complete tasks, earning them experience points<br>
    </p>
</div>
