<!DOCTYPE html>
<html lang="en">
<head>
      <title>{% block title %}Before The Flood{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'head_css.html' %}
      {% include 'javascript.html' %}
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>
</body>
</html>

