<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style_dashboard.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'schedule.js' %}"></script>
    <link rel="stylesheet" href="{% static 'schedule.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/all.css' %}" type="text/css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="dash_bg">
        <img src="/static/media/background_dash.jpg" alt="">
    </div>

    <div class="nav" style="position:absolute; top:20px; right:40px">
      <ul class="nav-bar" style="list-style-type: none;">
        <li style="display:inline; padding: 5px; font-size:15px"><a href=#>Home</a></li>
        <li style="display:inline; padding: 5px; font-size:15px"><a href="{% url 'profile' %}">Profile</a></li>
        <li style="display:inline; padding: 5px; font-size:15px"><a href="/accounts/logout/">Sign Out</a></li>
      </ul>
    </div>

    <nav class="navbar-fixed-bottom">
        <li class="dropdown" style="position: absolute; left: 25px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-time" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Clock</h3>
            </ul>
        </li>
        
        <li class="dropdown" style="position: absolute; left: 100px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-envelope" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Group Chat</h3>
            </ul>
        </li>

        <li class="dropdown" style="position: absolute; left: 175px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-stats" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Stats</h3>
            </ul>
        </li>

        <li>
            <!--<button data-toggle="modal" data-target="#myModal" style="position: absolute; left: 250px; bottom: 40px;">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<span class="glyphicon glyphicon-calendar" style="font-size:40px; padding:10px; color:white"></span>-->
                <!--</aß>-->
            <!--</button>-->
        </li>

<!--         <li class="dropdown" style="position: absolute; right: 150px; bottom: 40px;"> -->
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-list" style="font-size:40px; padding:10px; color:white"></span>
            </a> -->

<!--             <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Todo List</h3>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">+</a></li>
            </ul> -->
<!--             <a>My Tasks</a>
                <div class="dropdown-menu">
                </div>
        </li> -->
        <div class="dropup">
            <button class="dropdown-toggle" style="position: absolute; right: 150px; bottom: 40px" data-toggle="dropdown">To-do<span class="glyphicon glyphicon-list"></span></button>
                <div class="dropdown-menu">
                    {% include 'todo.html' %}
                </div>
        </div>

    </nav>

    <!-- Trigger the modal with a button -->
    <!--<a href="#" data-toggle="modal" data-target="#myModal" style="bottom:40px; right:100px">-->
        <!--<span class="glyphicon glyphicon-calendar" style="font-size:40px; padding:10px; color:white; bottom: 40px right:100px"></span>-->
    <!--</a>-->

    <!-- href="/schedule/calendar/month/calendar/" -->

    <button ng-href='/schedule/' data-toggle="modal" data-target="#myModal" style="padding:0px; background:none; border:none; position:absolute; bottom: 40px; left: 275px">
        <span class="glyphicon glyphicon-calendar" style="font-size:40px; padding:10px; color:white"></span>
    </button>

    <!--<div ng-app="myApp" ng-controller='MyCtrl'>
        <a ng-href='/schedule/'>This will become a link if variable link1 is set</a>
    </div> -->

    <!-- Modal -->
<!--     <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog"> -->
            <!-- Modal content-->
<!--             <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Calendar</h4>
                </div>
                <div class="modal-body">
                    <div ng-app="myApp" ng-controller='MyCtrl'>
                      <button ng-click="link1='/schedule/'">click to set variable link1</button><br/>
                      <a ng-href="{{link1}}">This will become a link if variable link1 is set</a>
                    </div>

                    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
                    <script>
                      var module = angular.module('myApp', []);
                      module.controller('MyCtrl', function($scope) {});
                    </script>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var module = angular.module('myApp', []);
        module.controller('MyCtrl', function($scope) {});
    </script> -->
</body>
</html>
