<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style_dashboard.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'schedule.js' %}"></script>
    <link rel="stylesheet" href="{% static 'schedule.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/all.css' %}" type="text/css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script>
      function change() {
        var exp = {{user.exp}};
        if (exp==1){
          includeLinkStyle("{% static 'css/growing1.css' %}");
        }
        if (exp==2){
          includeLinkStyle("{% static 'css/growing2.css' %}");
        }
        if(exp>=3){
          includeLinkStyle("{% static 'css/growing3.css' %}");
        }
      }
      function includeLinkStyle(url) {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.type = "text/css";
        link.href = url;
        document.getElementsByTagName("head")[0].appendChild(link);
      }
      change();
      </script>
    {% block extrahead %}{% endblock %}
</head>
<body>

      <img id="dash_bg" src="/static/media/background_dash.jpg">
    <div>
      <h1 class="panel-title pull-left" style="font-size:30px;">Hello, {{user.exp}} !</h1>
    </div>
      <div id="circle" >

        <div class="tree">
      		<div class="trunk">
        	<div class="branch">
          	<div class="leaf"></div>
         	<div class="leaf"></div>
       	 </div>
        	<div class="branch">
         	<div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
        <div class="branch">
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
          <div class="leaf"></div>
        </div>
      </div>
    </div>
  </div>


    <div class="nav" style="position:absolute; top:20px; right:40px">
      <ul class="nav-bar" style="list-style-type: none;">
        <li style="display:inline; padding: 5px; font-size:15px"><a href="/">Home</a></li>
        <li style="display:inline; padding: 5px; font-size:15px"><a href="{% url 'profile' %}">Profile</a></li>
        <li style="display:inline; padding: 5px; font-size:15px"><a href="/accounts/logout/">Sign Out</a></li>
        <li style="display:inline; padding: 5px; font-size:15px"><a href="/todo/">Todo</a></li>
      </ul>
    </div>

    <div class="navbar-fixed-bottom">
        <li class="dropdown" style="position: absolute; left: 25px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-time" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Clock</h3>
            </ul>
        </li>

        <li class="dropdown" style="position: absolute; left: 100px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-envelope" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Group Chat</h3>
            </ul>
        </li>

        <li class="dropdown" style="position: absolute; left: 175px; bottom: 40px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-stats" style="font-size:40px; padding:10px; color:white"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                <h3 style="text-align:left; margin:10px 15px">Stats</h3>
            </ul>
        </li>

        <li>
            <!--<button data-toggle="modal" data-target="#myModal" style="position: absolute; left: 250px; bottom: 40px;">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<span class="glyphicon glyphicon-calendar" style="font-size:40px; padding:10px; color:white"></span>-->
                <!--</aß>-->
            <!--</button>-->
        </li>

        <div style="width: 350px; position: absolute; right: 30px; word-wrap: break-word;">
            <div id="dropup" class="dropup">
                <a onclick="displayModal()" id="todo" class="dropdown-toggle" href="/todo/" style="position: absolute; right: 40px; bottom: 40px;" data-toggle="dropdown"><span class="glyphicon glyphicon-list" style="font-size:40px; padding:10px; color:white"></span></a>
                <div id="div1" class="dropdown-menu" style="height:500px; width: 365px; overflow:auto; position: absolute; right: 10px; bottom: 100px; padding: 10px">
                    {% block todo %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var opened = "no"

        $(document).ready(function() {
            window.location.href;
            if (((window.location.href).indexOf("todo/task") !== -1) ||
                ((window.location.href).indexOf("todo/complete") !== -1) ||
                ((window.location.href).indexOf("todo/delete") !== -1) ||
                ((window.location.href).indexOf("todo/list") !== -1)) {
                document.getElementById("dropup").className = "dropup open"
            }
        });

        function displayModal() {
            if (opened == "no") {
                document.getElementById("dropup").className = "dropup"
                opened = "yes"
                console.log("opened")
            } else {
                document.getElementById("dropup").className = "dropup open"
                opened = "no"
                console.log("closed")
            }
        }
    </script>
</body>
</html>
