{% extends './base.html' %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");

      $.ajax({
            url: form.attr("data-validate-username-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                  alert(data.error_message);
              }
            }
      });

    });
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Registration Form</h2>
  <form class="form-horizontal" method="POST" data-validate-username-url="{% url 'validate_username' %}">
      {% csrf_token %}
      {{ form.as_p }}
    <input type = "submit" value = "register" />
  </form>
</div>
{% endblock %}
